.time_wrapper {
  width: 60%;
  height: 20vh;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: rgba($color: #ffffff, $alpha: 0.5);

  > .inner {
    display: flex;
    justify-content: center;
    gap: 15px;

    > :nth-child(1) {
      text-wrap: nowrap;
      margin-right: 30px;

      > div {
        > select {
          padding: 15px;
          font-size: 1.5em;

          outline: none;
          border-radius: 20px;
          border: 1px solid #e2e2e2;
          &:focus {
            border: 3px dashed #6b6da7;
            color: #6b6da7;
          }
        }
      }
    }

    > :nth-child(2) {
      position: relative;
      > span {
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 100%;
      }
    }

    > fieldset {
      border: none;

      > label {
        font-size: 1.2em;
      }

      > div {
        > input {
          border: 1px solid #e2e2e2;
          padding: 10px;
          border-radius: 20px;
          font-size: 1.5em;
          outline: none;
          height: 2em;

          &:focus {
            border: 3px dashed #6b6da7;
            color: #6b6da7;
          }
        }
      }
    }
  }
  > .buttons {
    position: absolute;
    top: 70%;
    left: 76%;
    > button {
      font-size: 1.1em;
      border-radius: 5px;
      &:first-child {
        background-color: #6b6da7;
        color: #ffffff;
        &:active {
          background-color: #ffffff;
          color: #6b6da7;
        }
      }

      &:last-child {
        background-color: #eaeaea;
        &:active {
          background-color: black;
          color: #eaeaea;
        }
      }
    }
  }
}
