.List {
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: start;
  align-items: center;

  > li {
    position: relative;
    background-color: #fff;
    width: 27%;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba($color: #000000, $alpha: 0.2);
    > h3 {
      font-size: 2em;
    }
    > :nth-child(2) {
      margin: 10px auto;
      font-size: 1.2em;
      background-color: rgb(238, 255, 198);
      display: inline-block;
    }

    > :nth-child(3) {
      display: flex;
      gap: 10px;
      margin: 3px auto;
      font-size: 1.2em;
    }
    &:hover {
      transform: scale(1.02);
    }

    .delete {
      text-align: end;

      > button {
        background-color: rgb(255, 112, 112);
        color: #fff;
        border-radius: 2px;
        &:active {
          background-color: #fff;
          color: rgb(255, 112, 112);
        }
      }
    }
  }
}
