.CurrentTime {
  width: 85%;
  padding: 50px;

  > .inner {
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    letter-spacing: 3px;

    > h3 {
      font-size: 2em;
    }
    > span {
      color: rgb(101, 105, 136);
      font-size: 1.5em;
    }
    > * {
      margin: 5px;
    }
  }
}
